{% extends "base/base.html" %} {% block content %}
<div class="d-flex justify-content-between align-items-center mb-5">
	<h1>Все видео</h1>
	<a class="" href="{% url "video-add" %}"><button type="button" class="btn btn-info">Добавить видео</button></a>
</div>
<form method="get" class="mt-5">
	<label for="id_category" class="text-white">Категория:</label>
            <div class="d-flex">
                <select class="form-control bg-dark border-dark text-white" id="id_category" name="category">
                    {% for category in categorys %}
                        <option value="{{ category.name }}" 
                            {% if category.pk == 1 %}
                                selected
                            {% endif %}
                        >{{ category.name }}</option>
                    {% endfor %}
                </select><button type="submit" class="btn btn-info">Filter</button>
            </div>
</form>
	<div class="row">
		{% for video in object_list%}
		<div class="col-lg-4 mb-5">
			<div class="card" width="100%">
				<div
					style="width: 100%; max-height: 300px; background-color: black"
				>
					<img
						src="{{video.preview.url}}"
						alt="а хуй вам"
						width="100%"
						height="300px"
					/>
				</div>
				<div class="card-body">
					<h5 class="card-title">{{video.title}}</h5>
					<p class="card-text">{{video.description}}</p>
					<div class="d-flex justify-content-between">
					<a href="{% url "video-detail" video.pk %}" class="btn btn-primary">Смотреть</a>
					{% include "playlist/add_videos_button.html" %}
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock content %}
