{% extends "base/base.html" %} {% block content %}
<div class="d-flex justify-content-between align-items-center mb-5">
	<h1>Все плейлисты</h1>
	<a class="" href="{% url "playlist-create" %}"><button type="button" class="btn btn-info">Создать плейлист</button></a>
</div>

	<div class="row mb-5">
		{% for video in object_list%}
		<div class="col-lg-4 ">
			<div class="card" width="100%">
				<div
					style="width: 100%; max-height: 300px; background-color: black"
				>
					<img
						src="{{video.preview.url}}"
						alt="а хуй вам"
						width="100%"
						height="300px"
					/>
				</div>
				<div class="card-body">
					<h5 class="card-title">{{video.title}}</h5>
					<p class="card-text">{{video.description}}</p>
					<a href="{% url "playlist-detail" video.pk %}" class="btn btn-primary">Смотреть</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock content %}
